---
Language: Cpp
# BasedOnStyle: Google
AccessModifierOffset: -1
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true
  PadOperators: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCaseColons: false
BreakConstructorInitializers: BeforeComma
# BreakTemplateDeclarations: No
ColumnLimit: 160
DerivePointerAlignment: false
IncludeBlocks: Preserve
IndentWidth: 2
PackConstructorInitializers: Never
PointerAlignment: Left
QualifierAlignment: Right
ReferenceAlignment: Left
SpacesBeforeTrailingComments: 2
UseTab: Never
